<div class="row">
	<div class="large-1 columns" id="social-buttons-container"></div>
</div>
<div id="footer" class="row">
	<div class="large-11 small-10 columns">
		<div class="row" id="footer-navigation">
			<div class="large-6 small-9 columns">
				<nav>
					<ul>
						<li class="overlay">
							<a href="a-propos.html">À propos</a>
						</li>
						<li class="overlay">
							<a href="mentions-legales.html">Mention légales</a>
						</li>
						<li class="overlay">
							<a href="contact.html">Contact</a>
						</li>
					</ul>
				</nav>
			</div>
			<div class="large-4 small-3 columns" id="followus">
				<ul class="inline-list">
					<li id="followus-text">Suivez-nous</li>
					<li><a href="" title="Facebook du Département de Loire-Atlantique"><i class="sprite-facebook-black"></i></a></li>
					<li><a href="https://twitter.com/makina_corpus" title="Twitter du Département de Loire-Atlantique"><i class="sprite-twitter-black"></i></a></li>
				</ul>
			</div>
			<div class="large-2 small-0 columns" id="slogan">
				Makina Corpus
			</div>
		</div>
	</div>
	<div class="large-1 small-2 columns" id="cg-logo">
		<a href="http://www.makina-corpus.com" title="Makina Corpus">
			<img src="assets/images/makina.png" alt="CG44" />
		</a>
	</div>


</div>
